.settings{
    position: absolute;
    background-color: #373E4D;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-item{
    padding: 1rem;
    min-width: 600px;
    border: 1px solid #22A4AC;
}

.settings-title{
    font-size: 1.5rem;
    color: #ddd;
    padding-bottom: 1rem;
    border-bottom: 1px solid #22A4AC;
}

.settings-bookmarks__item{
    margin: 1rem 0;
}

.settings-bookmarks__title{
    color: #ddd;
    cursor: pointer;
    padding: 1rem;
}

.settings-bookmarks__title:hover{
    background: #485269;
    transition: 0.2s ease-in all;
}

.settings-bookmarks__lists{
    margin: 1rem 0 1rem 2rem;
}

.add-bookmark-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid #22A4AC;
    text-align: center;
    color: #22A4AC;
    cursor: pointer;
    left: 50%;
}